 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000000;
    color: #0d3b1a;
}

header {
    width: 100%;
    background: #ffffff;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 28px;
    font-weight: 600;
    color: #0d3b1a;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

nav ul li a:hover {
    color: #03551d;
    text-decoration: underline;
}

/* ---------------- HOME ---------------- */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    background-image: url('green1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    background-color: #0d103b;
    height:500px;
}

.home:hover {
    transform:  scale(1.08) ;
}



.home::before{
    background: rgba(0, 0, 0, 0.6); 
    z-index: 0;
}

.home-content {
    max-width: 50%;
}

.home-content h1 {
    font-size: 40px;
    font-weight: 600;
    color:rgb(255, 255, 255);
    margin-top: 200 px;
    padding-top: 500 px;
}

.home-content h1 span {
    color: rgb(255, 255, 255);
}

.home-content p {
    margin: 15px 0 25px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #03034a;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn:hover {
 transform: scale(1.07);
 filter: brightness(1.15);
 box-shadow: 0 0 10px #6c63ff;
}

.home-img img {
    width: 250px;
    border-radius: 50%;
    border: 2px solid #201eb1;
    transition: transform 0.3s ease;
}

.home-img img:hover{
    transform: scale(1.02);
    box-shadow: 0 0 25px #201eb1,
              0 0 45px #201eb1;
}

/* ---------------- SECTIONS ---------------- */
.section-title {
    text-align: center;
    font-size: 32px;
    color: #d3d3d8;
    margin-bottom: 20px;
}


/* ---------------- ABOUT ---------------- */
.about {
    width: 100%;
    margin: auto;
    padding: 60px 0;
    background-color: #03051f;
    transition: transform 0.4s ease;
}

.about:hover {
     transform:  scale(1.02) ;
}

.about-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about-img {
    width: 300px;
    border-radius: 40%;
    transition: transform 0.3s ease;
    margin-left: 40px;
}

.about-img:hover {
    transform: scale(1.1);
}

.about-text {
    color: aliceblue;
    margin-right: 20px;
}

/* ---------------- SKILLS ---------------- */
.skills {
    width: 100%;
    margin: auto;
    padding: 60px 0;
    background-image: url('dark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.4s ease
}

.skills:hover {
    transform:  scale(1.02) ;
}

.skill-container {
    display: flex;
    gap: 40px;
}

.edu-card {
    background:#aeb1b0;
    padding: 25px;
    border-radius: 20px;
    width: 50%;
    box-shadow: 0 2px 10px rgba(6, 167, 38, 0.1);
    transition: transform 0.4s ease;
    color: rgb(11, 60, 26);
    border-left: 2px solid rgb(171, 171, 172);
    margin-left: 40px;
}

.skill-card {
    background:#aeb1b0;
    padding: 25px;
    border-radius: 20px;
    width: 50%;
    box-shadow: 0 2px 10px rgba(6, 167, 38, 0.1);
    transition: transform 0.2s ease;
    color: rgb(11, 60, 26);
    border-left: 2px solid rgb(171, 171, 172);
    margin-right: 40px;
}

.edu-card:hover {
    transform: scale(1.04);
}

.skill-card:hover {
    transform: scale(1.04);
}

.skill-card ul {
    margin-top: 10px;
        margin-left: 30px;
}

.skill-card ul li {
    margin-bottom: 8px;
    margin-left: 30px;
}


/* ---------------- PROJECTS ---------------- */
.projects {
    width: 90%;
    margin: auto;
    padding: 60px 0;
}

.project-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    align-items: center;
}
.project-card {
    background: #075137;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    border: #fff;
    color:#ffffff;
    width:auto;
    transition: transform 0.2s ease;
    margin-right: 20px;
    margin-left:20px;
}

.project-card:hover {
    transform: scale(1.1);
}



.project-card img {
    width: 50%;
    border-radius: 20px;
    height:50%;
}

.project-card a {
    color: #d8d5d5;
    font-weight: 600;
    margin-top: 10px;
    display: inline;
}

/* ---------------- CONTACT ---------------- */
.contact {
    width: 90%;
    margin: auto;
    padding: 60px 0;
}

.contact-box {
    text-align: center;
    font-size: 18px;
}

.contact-box i {
    margin-right: 10px;
    color: #4a4aff;
}

.social-links a {
    margin: 10px;
    font-size: 24px;
    color: #dadadf;
}

/* ---------------- FOOTER ---------------- */
footer {
    background: #ffffff;
    color: #0d3b1a;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
